# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/

crop_app.pkl

# Environment variables
.env

# VS Code
.vscode/

# Database
*.db
*.sqlite
*.sqlite3


# Logs
*.log

# Jupyter
.ipynb_checkpoints/
